main{
    margin: 0px 40px 0px 40px;
}

.cards{
    margin: 0px 40px 0px 40px;
    padding-top: 20px;
    justify-content: space-between;
    gap: 20px;
}

.accordion{
    margin-top: 20px;
}

.table{
    margin-top: 20px;
    border: 1px;
}

.thick-border th {
    border-bottom: 3px solid black;
}

.name-input{
    gap: 20px;
}